<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../components/libraries/bootstrap-css.ejs') %>
    <%- include('../../components/custom/general-css.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title><%= title %></title>
</head>
<body class="d-flex justify-content-center align-items-center
             height-100">
    <div class="container p-3">
        <div class="row
                    round-border-100 register-bg">
            <div class="col">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6
                        d-flex justify-content-center align-items-center
                        round-border-100-left register-form">
                
            </div>
        </div>
    </div>
    
    <%- include('../../components/libraries/bootstrap-js.ejs') %>
</body>
</html>