body {
  background: linear-gradient(
    197deg,
    rgba(63, 33, 20, 1) 0%,
    rgba(192, 70, 0, 1) 35%,
    rgba(229, 176, 81, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-bg {
  background-image: url("/images/design/register-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.register-form {
  background-color: rgba(255, 255, 255, 0.7);
}

.restaurant-address {
  resize: none;
  height: 70px;
  display: block;
  width: 100%;
}

.radio-area {
  direction: ltr;
}

.radio-border {
  border: 1px solid black;
}
